@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Accueil</title>
    <link rel="stylesheet" href="~/css/StyleAccueilt.css" />
</head>
<body>
    <div id="tampon">

    </div>
    <div class="text-center">
        <div id="pizaaaa">
            <h1 class="display-4">pizzaaaa mmmmm !!!!!</h1>
            <p><a asp-page="MenuPizza">Voir le menu</a></p>
        </div>
        <div id="image">
            <img src="~/images/p-removebg-preview.png" alt="Alternate Text" />
        </div>
    </div>
</body>
</html>
